<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Calculate Elipse Shape</title>
</head>
<body>
<h1>Calculate Elipse Shape</h1>
<form action="#" th:action="@{/calculateElipseShape}" method="post">
    <div>
        <label>Horisontal Radius</label>
        <input th:name="hradius" type="text"/>
        <label>Vertical Radius</label>
        <input th:name="vradius" type="text"/>
    </div>
    <div>
        <button type="submit">Calculate</button>
    </div>
</form>
<div th:if="${visibleResult}">
    <table>
        <td>
            <label>Area is </label>
        </td>
        <td>
            <p th:text="${result}" />
        </td>
    </table>
</div>

<a href="/">Go Home</a>
</body>
</html>