<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Calculate Square Shape</title>
</head>
<body>
<h1>Calculate Square Shape</h1>
<form action="#" th:action="@{/calculateSquareShape}" method="post">
    <div>
        <label>Side</label>
        <input th:name="side" type="text"/>
    </div>
    <div>
        <button type="submit">Calculate</button>
    </div>
</form>

<div th:if="${visibleResult}">
    <table>
        <td>
            <label>Area is </label>
        </td>
        <td>
            <p th:text="${result}" />
        </td>
    </table>
</div>

<a href="/">Go Home</a>
</body>
</html>