<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Shape calculations</title>
</head>
<body>
<h1>Shape calculations</h1>
<table>
    <tr>
        <td>
            <a href="calculateCircleShape">Circle</a>
        </td>
        <td>
            <p th:text="${circleCount}"/> calculations was performed for Circle
        </td>
    </tr>
    <tr>
        <td>
            <a href="calculateElipseShape">Elipse</a>
        </td>
        <td>
            <p th:text="${elipseCount}"/> calculations was performed for Elipse
        </td>
    </tr>
    <tr>
        <td>
            <a href="calculateRectangleShape">Rectangle</a>
        </td>
        <td>
            <p th:text="${rectangleCount}"/> calculations was performed for Rectangle
        </td>
    </tr>
    <tr>
        <td>
            <a href="calculateSquareShape">Square</a>
        </td>
        <td>
            <p th:text="${squareCount}"/> calculations was performed for Square
        </td>
    </tr>
</table>

</body>
</html>